@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

h2 {
  color: #1dd7b5;
  font-size: 2rem;
  font-weight: 600;
}

h1 {
  color: #1cdcda;
  font-size: 5rem;
  font-weight: 700;
  margin: 10px 0;
}

h3 {
  color: #09e883;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 8px;
}

button {
  margin: 15px;
  padding: 12px 60px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  background: transparent;
  border: 3px solid #1dd7b5;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1dd7b5;
  color: white;
}

p {
  font-size: 1rem;
  color: #000;
  margin: 5px 0;
}

.container-box {
  background:rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  width: 500px;
  padding: 40px 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(8px); 
}
